//import mixins-vars
@import "../../mixins-vars";

.Home {
  .navbar-brand {
    color: #fff;
    font-size: 1.666rem;
    font-weight: 700;
    font-family: $second-font-family;
    @include transition(color, 0.2s, ease-in-out);

    &:hover,
    &:active,
    &:focus {
      color: $fir-yellow;
    }
  }
  .navbar-nav {
    .nav-link {
      font-size: 0.777rem;
      font-weight: 400;
      text-transform: uppercase;
      color: #fff;
      font-family: $second-font-family;
      position: relative;
      padding-left: 0;
      padding-right: 0px;
      &:after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        height: 0;
        width: 0;
        @include transition(width, 0.2s, ease-in-out);
      }
      @include transition(color, 0.2s, ease-in-out);

      &:last-child {
        margin-right: 0px !important;
      }

      &:hover,
      &:active,
      &:focus {
        color: $fir-yellow;
      }

      &.active {
        color: $fir-yellow;
        &:after {
          position: absolute;
          content: "";
          left: 0;
          bottom: 0;
          width: 100%;
          height: 0px;
          border-bottom: 3px $fir-yellow solid;
        }
      }
    }
  }
}
