//import mixins-vars
@import "../../mixins-vars";

.Home {
  .search-enter {
    opacity: 0;
    transform: translateX(-100%);
  }
  .search-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.5s, transform 0.5s;
  }

  .search-exit {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.5s, transform 0.5s;
  }

  .search-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s, transform 0.5s;
  }
}
